<!DOCTYPE html>
<html>
    <head>
        <title>Calendario</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="./js.js"></script>
    </head>
    <body>
        <nav>
            <ol>
                <li class="links"><a href="#">Sing in</a></li>
                <li class="links"><a href="#">Login up</a></li>
              </ol>
        </nav>
        <div class = "flex">
            <div class="left_panel">
                <ol>
                    <li class="links"><a href="#">Sing in</a></li>
                    <li class="links"><a href="#">Login up</a></li>
                </ol>
            </div>
            <table class="calendario" id="calendario">

            </table>
        </div>
    </body>
</html>