* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background: rgb(99, 100, 100);
    margin: 0; 
    padding: 0;
}

nav {
    display: flex;
    margin: 0 0;
    justify-content: flex-end;
    padding: 0;
    line-height: 8vh;
    align-items: center;
}

nav ol {
    /*display: inline-block;*/
    list-style-type: none;
    margin: 0 0;
}

nav ol li {
    display: inline;
    background-color: red;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 10px;
}

nav ol li:hover a{
    color: rgb(150, 150, 150)
}

nav ol li a{
    text-decoration: none;
    color: rgb(50, 50, 50)
}

nav ol li a:hover{
    text-decoration: none;
    color: rgb(200, 200, 200)
}

.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-content:stretch;
    height: 92vh;
}

.left_panel {
    width: 18%;
    height: 100%;
    background-color: #EAF2D7;
}

.calendar {
    width: 70%;
    height: 100%;
    border: 1px solid rgb(177, 175, 255);
    border-collapse: collapse;
    background-color: #EAF2D7;
}

th {
    padding: 0;
    line-height: 0.26;
    font-size: 1.4rem;
}

th, td {
    border: 1px solid rgba(177, 175, 255, 0.7);
}

tr {    
    text-align: right;
}

td {
    padding: 0 10px;
    vertical-align: top;
}

th {
    text-align: center;
}

.information-title {
    text-align: center;
    margin: 0;
    margin-top: 4px;
}

#information {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#information li {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* FONTS */


/* UBUNTU FONT*/
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

/* KANIT FONT*/

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  