body {
    background: rgb(99, 100, 100);
    margin: 0; 
    padding: 0;
}

nav {
    display: flex;
    margin: 0 0;
    justify-content: flex-end;
    padding: 0;
    line-height: 8vh;
    align-items: center;
}

nav ol {
    /*display: inline-block;*/
    list-style-type: none;
    margin: 0 0;
}

nav ol li {
    display: inline;
}

.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-content:stretch;
    height: 90vh;
}

.left_panel {
    width: 18%;
    height: 100%;
    background-color: #EAF2D7;
}

.calendar {
    width: 70%;
    height: 100%;
    border: 1px solid rgb(177, 175, 255);
    border-collapse: collapse;
    background-color: #EAF2D7;
}

th, td {
    border: 1px solid rgba(177, 175, 255, 0.7);
}

tr {    
    text-align: right;
}

td {
    padding: 0 10px;
    vertical-align: top;
}

th {
    text-align: center;
}